.front-life {
	&__container {
		position: relative;
		padding-top: 174px;
		padding-bottom: 160px;
		@include r(1080) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
	&__ill {
		position: absolute;
		top: 55px;
		left: -238px;
		@include r(1080) {
			display: none;
		}
	}
	&__content {
		padding-left: 480px;
		@include r(1080) {
			padding-left: 0px;
		}
		justify-content: space-between;
		position: relative;
		z-index: 2;
	}
	&__title {
		position: relative;
		margin-bottom: 22px;
		@include r(1080) {
			left: 0px;
		}
	}
}