.header	{
	padding-top: 13px;
	padding-bottom: 21px;
	&__container {
		display: flex;
		@include r(1080) {
			align-items: center;
		}
	}
	&__logo {
		display: block;
		flex-shrink: 0;
		margin-right: 42px;
		@include r(440) {
			margin-right: 20px;
		}
		img {
			display: block;
			width: 130px;
			height: 136px;
			@include r(1080) {
				height: 100px;
				width: 100px;
			}
			@include r(440) {
				height: 80px;
				width: 80px;
			}
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__content {
		flex-grow: 1;
		padding-top: 21px;
	}
	&__topline {
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
		@include r(1080) {
			justify-content: flex-end;
			margin-bottom: 0px;
			align-items: center;
		}
	}
	&__items {
		display: flex;
		@include r(1080) {
			display: none;
		}
	}
	&__item {
		display: flex;
		margin-right: 56px;
		text-decoration: none;
		&--link {
			margin-right: 0px;
			&:hover {
				opacity: 0.7;
			}
		}
		svg {
			width: 21px;
			height: 21px;
			display: block;
			margin-right: 12px;
		}
		p {
			color: $dark;
		}
	}
	&__bottom-line {
		display: flex;
		justify-content: space-between;
		@include r(1080) {
			display: none;
		}
	}
	&__link {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: $dark;
		text-transform: uppercase;
		text-decoration: none;
		position: relative;
		&--active {
			color: $accent;
			&:after {
				content: "";
				top: 100%;
				height: 2px;
				background-color: $accent;
				left: 0px;
				right: 0px;
				display: block;
				position: absolute;
			}
		}
	}
	&__languages {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 12px;
	}
	&__language {
		font-weight: 800;
		font-size: 16px;
		line-height: 20px;
		text-decoration: none;
		color: $accent;
		&:hover {
			opacity: 0.7;
		}
		&--now {
			color: $red;
			pointer-events: none;
		}
	}
	&__lang-separator {
		width: 2px;
		height: 15px;
		background-color: $accent;
	}
	&__burger {
		padding: 20px;
		cursor: pointer;
		margin-left: 20px;
		display: none;
		@include r(440) {
			padding: 10px;
		}
		@include r(1080) {
			display: block;
		}
		svg {
			fill: $dark;
			height: 24px;
			display: block;
			width: 24px;
		}
	}
}