.party {
	&__title {
		margin-bottom: 94px;
		@include r(980) {
			margin-bottom: 50px;
			font-size: 26px;
			line-height: 30px;
		}
	}
	&__block {
		margin-bottom: 100px;
	}
	&__name {
		margin-bottom: 70px;
		font-size: 30px;
		line-height: 38px;
		font-family: $title-font;
		font-weight: 900;

	}
	&__articles {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 10px;
			left: 157px;
			right: 157px;
			bottom: 0px;
			display: block;
			background-color: $green-light;
			@include r(980) {
				display: none;
			}
		}
	}
	&__article {
		width: calc(100% / 4 - 15px);
		@include r(980) {
			width: calc(100% / 3 - 15px);
		}
		@include r(680) {
			width: calc(100% / 2 - 10px);
		}
		@include r(450) {
			width: 100%;
		}
	}
	&__clear {
		width: calc(100% / 4 - 15px);
		display: block;
		height: 0px;
		@include r(980) {
			width: calc(100% / 3 - 15px);
		}
		@include r(680) {
			width: calc(100% / 2 - 10px);
		}
		@include r(450) {
			width: 100%;
		}
	}
}