.front-party {
	&__container {
		overflow: hidden;
		position: relative;
		padding-top: 132px;
		padding-bottom: 70px;
		// &:after {
		// 	content: "";
		// 	background-color: $green-light;
		// 	position: absolute;
		// 	bottom: 0px;
		// 	left: 157px;
		// 	right: 157px;
		// 	height: 450px;
		// 	z-index: -1;
		// 	@include r(980) {
		// 		display: none;
		// 	}
		// }
		@include r(980) {
			padding-bottom: 40px;
		}
	}
	&__title {
		position: relative;
		display: inline-block;
		margin-bottom: 35px;
	}
	&__decor {
		position: absolute;
		right: -100px;
		top: -130px;
		z-index: -1;
	}
	&__control {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 40px;
	}
	&__prev {
		width: 30px;
		height: 30px;
		border: 1px solid $accent;
		border-radius: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: 0.3s all;
		svg {
			transform: rotate(180deg);
			fill: $accent;
			height: 15px;
			width: 12px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__next {
		width: 30px;
		height: 30px;
		border: 1px solid $accent;
		border-radius: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: 0.3s all;
		margin-left: 5px;
		svg {
			fill: $accent;
			height: 15px;
			width: 12px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__swiper-container {
		overflow: visible; 
	}
	&__article {
		position: relative;
		text-decoration: none;
		top: 0px;
		width: 245px;
		display: block;
		margin-bottom: 36px;
		transition: 0.3s all;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
		position: relative;
		background-color: $light;
		&:hover {
			top: -20px;
			.front-party__name {
				color: $accent;
			}
		}
	}
	&__thumb {
		height: 330px;
		margin-bottom: 16px;
		width: 100%;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name {
		font-size: 20px;
		line-height: 25px;
		font-weight: 800;
		color: $dark;
		text-decoration: none;
		font-family: $title-font;
		text-decoration: none;
		transition: 0.3s all;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		width: 204px;
		height: 40px;
		color: $accent;
		text-decoration: none;
		font-weight: 800;
		font-size: 16px;
		line-height: 20px;
		border: 1px solid $accent;
		border-radius: 35px;
		svg {
			width: 12px;
			height: 9px;
			margin-left: 16px;
			fill: $accent;
		}
		&:hover {
			background-color: $accent;
			color: $light;
			svg {
				fill: $light;
			}
		}
	}
	&__btn {
		width: 50px;
		position: absolute;
		top: 0px;
		bottom: 0px;
		z-index: 2;
		cursor: pointer;
		transition: 0.3s all;
		align-items: center;
		display: flex;
		outline: none;
		padding: 5px;
		&--prev {
			left: 0px;
			justify-content: flex-start;
			svg {
				transform: rotate(180deg);
			}
		}
		&--next {
			right: 0px;
			justify-content: flex-end;
		}
		&:hover {
			.front-party__field {
				background-color: $light;
				svg {
					fill: $accent;
				}
			}
		}
		&--disabled {
			opacity: 0.5;
			&:hover {
				.front-party__field {
					background-color: $accent;
					svg {
						fill: $light;
					}
				}
			}
		}
	}
	&__field {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 30px;
		background-color: $accent;
		transition: 0.3s all;
		position: relative;
		top: -36px;
		svg {
			height: 15px;
			width: 12px;
			display: block;
			fill: $light;
		}
	}
}