.pagination {
	&__content {
		display: flex;
		flex-wrap: wrap;
	}
	&__link {
		height: 32px;
		box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		display: flex;
		align-items: center;
		padding-left: 8px;
		padding-right: 8px;
		min-width: 32px;
		justify-content: center;
		margin-right: 9px;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		text-decoration: none;
		color: $dark;
		&:hover {
			opacity: 0.7;
		}
		&--active {
			pointer-events: none;
			color: $light;
			background-color: $accent;
		}
		&--static {
			pointer-events: none;
		}
	}
}