.footer {
	border-top: 2px solid $green-light;
	&__logo {
		display: inline-block;
		margin-top: -12px;
		img {
			display: block;
			width: 130px;
			height: 136px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__title {
		font-weight: 600;
		color: $accent;
		display: block;
		&--link {
			margin-bottom: 10px;
			text-decoration: none;
			color: $accent;
			&:hover {
				color: $dark;
			}
		}
	}
	&__text {
		display: block;
		&--accent {
			color: $accent;
		}
		&--link {
			text-decoration: none;
			color: $dark;
			margin-bottom: 10px;
			&:hover {
				color: $accent;
			}
		}
		a {
			text-decoration: none;
			color: $dark;
			&:hover {
				color: $accent;
			}
		}
	}
}

.footer-top {
	border-bottom: 2px solid #DDEFE3;
	display: flex;
	justify-content: space-between;
	padding-top: 34px;
	padding-bottom: 18px;
	flex-wrap: wrap;
	&__column {
		&--3 {
			width: calc(100% / 12 * 3);
			@include r(1080) {
				width: 50%;
			}
			@include r(640) {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		&--6 {
			width: 50%;
			@include r(640) {
				width: 100%;
				br {
					display: none;
				}
			}
		}
		&--logo {
			@include r(1080) {
				display: none;
			}
			@include r(440) {
				
			}
		}
	}
}

.footer-middle {
	padding-top: 24px;
	padding-bottom: 24px;
	flex-shrink: 0;
	display: flex;
	@include r(640) {
		display: block;
	}
	&__left {
		width: 212px;
		padding-top: 18px;
		border-right: 2px solid #DDEFE3;

		@include r(1080) {
			border: none;		
		}
		@include r(640) {
			width: auto;
			text-align: center;
		}
	}
	&__right {
		min-width: 0px;
		display: flex;
		padding-left: 51px;
		flex-grow: 1;
		@include r(640) {
			display: none;
		}
	}
	&__booking {
		width: 128px;
		height: 135px;
		display: block;
		margin-bottom: 50px;
		img {
			display: block;
			max-width: 138px;
			width: 100%;
		}
		@include r(640) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
	}
	&__social {
		padding-top: 15px;
		@include r(640) {
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__column {
		width: calc(100% / 3);
	}
	.menu {
		a {
			text-decoration: none;
			color: $dark;
			margin-bottom: 10px;
			display: block;
			&:hover {
				color: $accent;
			}
		}
		
	}
}

.footer-bottom {
	border-top: 2px solid #DDEFE3;
	padding-top: 19px;
	padding-bottom: 19px;
	a {
		color: #EA4238;
		text-decoration: none;
		&:hover {
			color: $dark;
		}
	}
}